<footer>
    <div id="conteudo_footer">
      <div class="footer-list">
        <img src="assets/img/landing/apas_logo_no_bg.png" alt="Apas com background transparente" id="logo_footer">
        <p>Associação Protetora dos animais de Serrinha</p>
      </div>
  
      <div class="footer-list" id="nav-footer">
        <h2>Site</h2>
        <ul id="ul-nav">
          <li><a href="#boas-vindas">Topo</a></li>
          <li><a href="#historia">História da APAS</a></li>
          <li><a href="#ajudar">Como nos ajudar</a></li>
          <li><a href="#contatos">Contatos</a></li>
          <li><a href="#localizacao">Localização</a></li>
        </ul>
      </div>
  
      <div id="contatos-footer" class="footer-list">
        <h2>Contatos</h2>
        <div id="footer_social_media">
          <a href="https://www.instagram.com/apas_serrinha_oficial/" class="footer-link" id="instagram" target="_blank">
            <i class="fa-brands fa-instagram"></i>
          </a>
  
          <a href="https://wa.me/+5575988198676" class="footer-link" id="whatsapp" target="_blank">
            <i class="fa-brands fa-whatsapp"></i>
          </a>
        </div>
      </div>
    </div>
    <div id="footer_copyright">
      2023 APAS SERRINHA
    </div>
  </footer>