<header>
    <img routerLink="" class="logo" src="./assets/img/landing/apas_logo.jpg" alt="Logo" priority>
    <nav>
      <ul>
        <li routerLink="">PRINCIPAL</li>
        <li routerLink="/acompanhamento">ACOMPANHAMENTO</li>
        <li routerLink="/doacoes">DOAÇÕES</li>
        <li routerLink="/patrocinios">PATROCÍNIOS</li>        
      </ul>
    </nav>
    <div [routerLink]="routerLoginButton" id="space">
      <img [src]="imagemUsuario" class="user_img">
      <div class="loginOrName">
        <span >{{ loginText }}</span>
        <span *ngIf="painelAdmText" class="painel">Painel Administrativo</span>
      </div>
    </div>
    <div class="logoffButton">
      <button *ngIf="loginText != 'LOGIN'" class="material-icons logoff" (click)="logoff()">
        logout
      </button>
    </div>
  </header>