<div class="container">
    <div class="content first-content">
        <div class="first-column">
            <h2 class="title title-primary">Olá, novamente!</h2>
            <p class="description description-primary">Para reconectar conosco</p>
            <p class="description description-primary">Iremos te ajudar a recuperar sua conta</p>
            <button class="btn btn-primary" routerLink="/login">Voltar</button>
        </div>
        <div class="second-column">
            <h2 class="title title-secondary">Digite sua nova senha</h2>
            <form class="form">
                <label class="label-input">
                    <i class="material-icons icons-forms">
                        key
                    </i>
                    <input type="password" placeholder="Senha" [(ngModel)]="senha" name="senha">
                </label>
                <label class="label-input">
                    <i class="material-icons icons-forms">
                        key
                    </i>
                    <input type="password" placeholder="Confirmar Senha" [(ngModel)]="confirmaSenha" name="confirmaSenha">
                </label>
                <button class="btn btn-secondary" (click)="onSubmit()">Enviar</button>
            </form>
        </div>
    </div>
</div>
