<mat-sidenav-container mode="side">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport disableClose >
        <mat-nav-list class="nav-list">
            <div class="logo-div">
                <img src="assetsng/apas_logo.jpg" alt="APAS Logo" class="logo">
            </div>

            <a *ngFor="let route of navRoutes" class="list-item" routerLink="{{route.rota}}" routerLinkActive="ativo">
                <i class="material-icons v-middle">
                    {{route.icone}}
                </i>
                <span class="textoNavItem">{{route.texto}}</span>
            </a>
          
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>
<div class="routerOutlet">
    <router-outlet></router-outlet> 
</div>
