@import "../../app.component.scss";

// *{
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }

.botao_voltar{
    background-color: #51837B !important;
    position: absolute;
    top: 10px;
    left: 10px;
}
//Container 
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eeeeee;

    .content{
        background-color: #ffffff;
        border-radius: 15px;
        min-width: 60vw;
        height: 50vh;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .content::before{
        content : "";
        position: absolute;
        background-color: $primaria-verde;
        width: 40%;
        height: 100%;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
      

        left: 0%;
    }
    .title{
        font-size: 23px;
        font-weight: bold;
        text-transform: capitalize;
    }
    .title-primary{
        color: #fff;
    }
    .title-secondary{
        color: $primaria-verde;
    }
    .description{
        font-size: 14px;
        font-weight: 300;
        line-height: 30px;
    }
    .description-primary{
        color: #fff;
        margin: 1px;
    }
    .description-secondary{
        color: #7f8c8d;
    }
    .btn{
        border-radius: 15px;
        text-transform: uppercase;
        color: #fff;
        font-size: 10px;
        padding: 10px 50px;
        cursor: pointer;
        font-weight: bold;
        width: 150px;
        align-self: center;
        border-width: 0px;
        margin-top: 1rem;
    }
    .btn-primary{
        background-color: transparent;
        border: 1px solid #fff;
    }
   
    .btn-primary:hover{
        background-color: #fff;
        color: $primaria-verde;
        transition: background-color 1.5s ease;
    }
    .btn-secondary{
        background-color: $primaria-verde;
        border: 1px solid $primaria-verde;
        margin-top: 4px;
    }
    .btn-secondary:hover{
        background-color: #fff;
        border: 1px solid $primaria-verde;
        color: $primaria-verde;
        transition: background-color 1.5s ease;
    }
    //First content
    .first-content{
        display: flex;
        position: absolute;
    }
    .first-content .second-column{
        z-index: 11;
    }
    .first-column{
        z-index: 10;
        text-align: center;
        width: 40%;
    }
    .logo{
        border-radius: 50%;
        animation: fadeIn 2s;
    }
    .second-column{
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   
    .list-social-media{
        display: flex;
        list-style-type: none;
    }
    .link-social-media .item-social-media{
        transition: background-color 1.5s ease;
    }
    .link-social-media:not(:first-child){
        margin-left: 10px;
    }
    .link-social-media:hover .item-social-media{
        background-color: $primaria-verde;
        color: #fff;
        border-color: $primaria-verde;
        transition: 1.5s ease;
    }
    .item-social-media {
        border: 1px solid #bdc3c7;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        margin-left: 10px;
        color: #95a5a6;
    }
    form{
        display: flex;
        flex-direction: column;
        width: 65%;
        text-align: center;
    }
    .form input {
        width: 100%;
        height: 45px;
        border: none;
        background-color: #ecf0f1;
        margin: 2px;
    }
    .label-input{
        background-color: #ecf0f1;
        display: flex;
        align-items: center;
        margin: 5px;
    }
    .uploadImg{
        list-style-type: none;
    }
    .icons-forms{
        color: #7f8c8d;
        padding: 0 5px;
    }
    //Second Content
    .second-content{
        display: flex;
        position: absolute;
    }
    
    .second-content .first-column{
        order: 2;
        z-index: -1;
    }
    .second-content .second-column{
        order: 1;
        z-index: -1;
    }
    .password{
        color: #34495e;
        font-size: 14px;
        text-align: center;
    }
}

.sing-in-ts .first-content .first-column,
.sing-in-ts .first-content .second-column{
    z-index: -1;
}

.sing-in-ts .second-content .second-column{
    z-index: 11;
}
.sing-in-ts .second-content .first-column{
    z-index: 13;
    animation: fadeIn 2s;
}
.sing-in-ts .content::before{
    left: 60%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slidein 2s linear;

    z-index: 12;
}
.sing-up-ts .content::before{
    animation: slideout 2.5s linear;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    z-index: 12;
}
.sing-up-ts .second-content .first-column,
.sing-up-ts .second-content .second-column{
    z-index: -1;
}
.sing-up-ts .first-content .second-column{
    z-index: 11;
}
.sing-up-ts .first-content .first-column{
    z-index: 13;
    animation: fadeIn 2.5s linear;
}

.sing-in-ts .first-content .second-column{
    z-index: -1;
    position: relative;
    animation: leftDisplacement 2s;
}
.sing-up-ts .second-content .second-column{
    z-index: -1;
    position: relative;
    animation: rightDisplacement 2s;
}

/* Animação CSS para conteúdo */
@keyframes rightDisplacement {
    from{
        left: 0;
        z-index: 12;
    }
    25%{
        left: 80px;
    }
    50%{
        left: 100px;
    }
    to{
        left: 110px;
        z-index: -1;
    }
}
@keyframes leftDisplacement {
    from{
        left: 0;
        opacity: 1;
        z-index: 12;
    }
    25%{
        left: -80px;
        opacity: .5;
    }
    50%{
        left: -100px;
        opacity: .2;
    }
    to{
        left: -110px;
        opacity: 0;
        z-index: -1;
    }
}

/* Animação */

@keyframes slidein{

    from{
        left: 0;
        width: 40%;
    }   
    25% {
        left: 5%;   
        width: 50%;
    }
    50%{
        left: 25%;
        width: 50%;
    }
    75%{
        left: 45%;
        width: 50%;
    }
    to{
        left: 60%;
        width: 40%;
    }
}

@keyframes slideout{

    from{
        left: 60%;
        width: 40%
    }   
    25% {
        left: 45%;   
        width: 50%;
    }
    50%{
        left: 25%;
        width: 60%;
    }
    75%{
        left: 5%;
        width: 50%;
    }
    to{
        left: 0;
        width: 40%;
    }
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    80%{
        opacity: .8;
    }
    100%{
        opacity: 1;
    }
}