<div class="bem-vindo-header">
  <h1>Seja Bem-vindo!</h1>
</div>

<div class="bem-vindo-content">
  <div class="ong-card">
      <h2>Painel Administrativo</h2>
      <p>Seja bem-vindo a seção de administração, aqui você poderá acompanhar, registrar e analisar os dados referentes à Ong, Temos a missão de tornar o mundo melhor para os animais de rua, os tratando e conseguindo um lar adotivo para os mesmos, sempre levando amor e carinho a todos os nossos Aumigos. <br>Este projeto não é apenas sobre tecnologia; é sobre construir uma ponte entre a APAS e a comunidade. Queremos promover a conscientização, incentivar a participação e fazer a diferença na vida dos animais.</p>
  </div>

  <div class="cards-container">
      <div class="card">
          <h2>Relatórios de Gastos</h2>
          <p>Registro e detalhes de gastos efetuados.</p>
          <mat-icon>attach_money</mat-icon>
          <button class="btn-text" mat-raised-button routerLink="/painel/relatorios-gastos">Clique aqui</button>
      </div>
      <div class="card">
          <h2>Relatórios de Doações</h2>
          <p>Registro de doações feitas.</p>
          <mat-icon>monetization_on</mat-icon>
          <button class="btn-text" mat-raised-button routerLink="/painel/relatorios-doacoes">Clique aqui</button>
      </div>
      <div class="card">
          <h2>Cadastro Administrador</h2>
          <p>Adicione novo administrador.</p>
          <mat-icon>person_add</mat-icon>
          <button class="btn-text" mat-raised-button routerLink="/painel/cadastro-admin">Clique aqui</button>
      </div>
  </div>
</div>
