<div class="container">
    <div class="content first-content">
        <div class="first-column">
            <h2 class="title">Bem vindo de volta!</h2>
            <p class="description">To keep connected with us</p>
            <p class="description">Clique aqui para voltar</p>
            <button class="btn">Voltar</button>
        </div>
        <div class="second-column">
            <h2 class="title">Insira as informações</h2>
            <p class="description">Insira seu email para recuperar a senha</p>
            <form class="form">
                <input type="email" placeholder="E-mail">
                <button class="btn">Enviar</button>
            </form>
        </div>
    </div>
</div>
