<div class="container">
    <div class="content first-content">
        <div class="first-column">
            <h2 class="title title-primary">Olá, novamente!</h2>
            <p class="description description-primary">Para reconectar conosco</p>
            <p class="description description-primary">Iremos te ajudar a recuperar sua conta</p>
            <button class="btn btn-primary" routerLink="/painel/login">Voltar</button>
        </div>
        <div class="second-column">
            <h2 class="title title-secondary">Insira as informações</h2>
            <p class="description description-secondary">Insira seu email para recuperar a senha</p>
            <form class="form">
                <label class="label-input">
                    <i class="material-icons icons-forms">
                        mail
                    </i>
                    <input type="email" placeholder="Email">
                </label>
                <button class="btn btn-secondary">Enviar</button>
            </form>
        </div>
    </div>
</div>
