<div class="main-register">
    <div class="register-container">
        <div class="card-register">
            <h2>Cadastro</h2>
            <div class="image-input">
                <div class="textfield">
                    <label for="usuario">Nome:</label>
                    <input type="text" name="usuario" placeholder="Nome">
                </div>
                <div class="textfield">
                    <label for="email">Email:</label>
                    <input type="text" name="email" placeholder="Email">
                </div>
                <div class="textfield">
                    <label for="senha">Senha:</label>
                    <input type="password" name="senha" placeholder="Senha">
                </div>
                <div class="textfield">
                    <label for="senha">Senha:</label>
                    <input type="password" name="confima senha" placeholder="Confirmar senha">
                </div>
                
            </div>
            <button class="btn-register">Cadastrar</button>
        </div>
    </div>
</div>
