<div class="access-denied-container">
  <div class="card">
    <div class="icon-wrapper">
      <svg class="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm-8-8a8 8 0 1116 0 8 8 0 01-16 0zm9-5a1 1 0 00-1-1H9a1 1 0 100 2h1a1 1 0 001-1zM9 9a1 1 0 000 2v3a1 1 0 002 0v-3a1 1 0 00-2 0z" clip-rule="evenodd"></path>
      </svg>
    </div>
    <h2>Acesso Negado</h2>
    <p>Parece que você não tem permissão para acessar esta página.</p>
    <p>Se você acredita que isso é um erro, por favor, entre em contato com o suporte.</p>
    <a routerLink="/" class="button">Voltar para a Página Inicial</a>
  </div>
</div>