<app-header></app-header>

<main>
    <div class="mainHeader"></div>

    <h2 class="titulo">Seja um doador!</h2>

    <section class="doacoes">
        <mat-card class="doacao">
          <mat-card-header>
            <div mat-card-avatar><img class="doador-img" src="/assets/img/apas_logo.jpg" width="40" height="40"></div>
            <mat-card-title>Seja um doador!</mat-card-title>
            <mat-card-subtitle>Qualquer valor será de grande ajuda...</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="doadorMsg">
            <p class="mensagem">
              Deseja aparecer nesta página junto a outros doadores? <br><br>
              É opcional, também é possível realizar doações anônimas! <br><br>
              Somos gratos pela sua presença e desejo em ajudar.
            </p>
          </mat-card-content>
        </mat-card>

        <mat-card class="doacao" *ngFor="let doador of doadores">
          <mat-card-header>
            <div mat-card-avatar><img class="doador-img" [src]="doador?.img || '/assets/img/header/user.png'" width="40" height="40"></div>
            <mat-card-title>{{doador?.doadorNome}}</mat-card-title>
            <mat-card-subtitle>Valor doado: {{ doador?.valor | number: '1.2-2' }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="doadorMsg">
            <p class="mensagem">
              "{{ doador?.mensagem }}"
            </p>
          </mat-card-content>
        </mat-card>
    </section>

    <section class="doar">
      <button mat-flat-button class="botao_doar" (click)="abrirDialog()">DOAR!</button>
    </section>
</main>

<app-footer></app-footer>

<app-btn-flutuante></app-btn-flutuante>